<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kriti.android1_30">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="My Test App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android130"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SQLSelect"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SQLInsert"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WeatherApp"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GetImages"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Profile"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuDemo"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StudentSignUp"
            android:exported="true" />
        <activity
            android:name=".AudioPlayer"
            android:exported="true" />
        <activity
            android:name=".Movie"
            android:exported="true" />
        <activity
            android:name=".MusicPlaylist"
            android:exported="true" />
        <activity
            android:name=".StudentsNames"
            android:exported="true" />
        <activity
            android:name=".Names"
            android:exported="true" />
        <activity
            android:name=".AppHome"
            android:exported="false" />
        <activity
            android:name=".AppLogin"
            android:exported="false" />
        <activity
            android:name=".AppStart"
            android:exported="true" />
        <activity
            android:name=".FileOutput"
            android:exported="false" />
        <activity
            android:name=".FileInput"
            android:exported="true" />
        <activity
            android:name=".Start"
            android:exported="true" />
        <activity
            android:name=".AddInfo"
            android:exported="false" />
        <activity
            android:name=".UserProfile"
            android:exported="true" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".Calculator"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>